{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<h1 class='pagename'> NEWS </h1>
<h3> All Round Coverage </h3>

<div class="container">
    <form>
        <input type="text" name="article_query" placeholder="Search for an Article" class="form-control">
        <input type="submit" value="Submit" class="btn btn-default">
    </form>

</div>

<div class="container">
    <!-- Business News Section  -->
    <h3> Top Business News Sources</h3>
    <hr>

    {{ macro.displaySourceList(business_news_sources)}}

    <!-- Technology News Section  -->
    <h3> Top Technology News Sources</h3>
    <hr>

    {{ macro.displaySourceList(technology_news_sources)}}

    <!-- Entertainment News Section  -->

    <h3> Top Entertainment News Sources</h3>
    <hr>

    {{ macro.displaySourceList(entertainment_news_sources)}}

    <!-- Sports News Section  -->

    <h3> Top Sports News Sources</h3>
    <hr>

    {{ macro.displaySourceList(sports_news_sources)}}

</div>
{%endblock%}